body {
  font-size: 15px;
  line-height: 22px;
  color: black;
  font-weight: normal;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}
h2 {
  font-size: 18px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.header {
  min-height: 95px;
  margin-bottom: 20px;
  background: rgba(0, 128, 0, 0.2);

}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
  background: rgba(255, 45, 82, 0.2);
}
.logo {
  width: 140px;
  float: left;
  min-height: 70px;
  background: rgba(234, 255, 45, 0.2);
}
.main-menu {
  width: 400px;
  float: left;
  min-height: 70px;
  background: rgba(234, 255, 45, 0.2);
}
.cart {
  width: 100px;
  float: right;
  min-height: 70px;
  background: rgba(234, 255, 45, 0.2);
}
.slider {
  min-height: 320px;
  margin-bottom: 80px;
  background: rgba(234, 255, 45, 0.2);
}
.servises {
  margin-bottom: 80px;
}
.servises-item {
  min-height: 300px;
  width: 240px;
  float: left;
  margin-right: 80px;
  background: rgba(234, 255, 45, 0.2);
}
.servises-item:last-child {
  margin-right: 0px;
}
.info {
  margin-bottom: 80px;
}
.info-left {
  width: 620px;
  float: left;
  margin-right: 20px;
  min-height: 470px;
  background: rgba(234, 255, 45, 0.2);
}
.info-right {
  width: 240px;
  min-height: 470px;
  float: right;
  background: rgba(234, 255, 45, 0.2);
}
.studios {
  min-height: 169px;
  background: rgba(234, 255, 45, 0.2);
}
.footer {
  margin-top: 88px;
  background: rgba(0, 128, 0, 0.2);
  padding-top: 85px;
}
.footer-contacts {
  width: 250px;
  background: rgba(234, 255, 45, 0.2);
  margin-bottom: 168px;
}
.footer-social {
  width: 240px;
  margin-right: 80px;
  background: rgba(234, 255, 45, 0.2);
  min-height: 60px;
  float: left;
}
.footer-friend {
  width: 560px;
  float: right;
  min-height: 60px;
  background: rgba(234, 255, 45, 0.2);
}
