body {
  font-size: 15px;
  line-height: 22px;
  color: black;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 900px;
  font-family: "Roboto","Tahoma",sans-serif;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  width: 540px;
  padding-bottom: 16px;
}
h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #283136;
}
.header {
  min-height: 95px;

  background-color: #eeeeee;
  color: #000000;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 0px;
}
.logo {
  width: 140px;
  float: left;
  min-height: 70px;
  padding-top: 26px;
}
.main-menu {
  width: 450px;
  float: left;
  min-height: 85px;
  margin-left: 180px;
  font-size: 14px;
}
.main-menu a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  padding-top: 55px;
  padding-right: 45px;
}
.main-menu a:hover {
  color: #fb565a;
}
.main-menu ul {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 0;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 30px;
}
.cart {
  width: 100px;
  float: right;
  min-height: 70px;

  font-size: 15px;
}
.btn-cart {
  display: inline-block;
  padding-top: 55px;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.icon-basket i {
  padding-top: 20px;
  padding-right: 10px;
  opacity: 0.
}
.btn-cart:hover {
  color: #fb565a;
}

.welcome {
  min-height: 115px;
  margin-bottom: 80px;
  background: rgba(0, 128, 0, 0.2);
  font-size: 15px;
}
.slider-wrapper {
  background-color: #eeeeee;
  color: #000000;
  padding-top: 20px;
}
.slider {
  min-height: 275px;
  margin-bottom: 80px;
  font-size: 15px;
  background: url("../img/slider1.png") no-repeat 100% 0;
  padding-bottom: 60px;

}
.slider h1 {
  width: 300px;
  padding-top: 24px;
}
.slider p {
  width: 370px;
  font-size: 16px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 10px 67px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #fb565a;
  border: none;
  outline: none;
  cursor: pointer;
}
.servises {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.servises-item {
  min-height: 300px;
  width: 240px;
  float: left;
  margin-right: 80px;
  font-size: 15px;
}
.servises-item h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}
.servises-item p {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  margin-bottom: 27px;
}
.servises-item .btn {
  padding-left: 38px;
  padding-right: 38px;
}
.red:hover {
  background-color: #d6494d;
}
.red:active {
  background-color: #b63538;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.15);
}
.green {
  background-color: #00ca74;
}
.green:hover {
  background-color: #01a25e;
}
.green:active {
  background-color: #009053;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.15);
}
.yellow {
  background-color: #efc84a;
}
.yellow:hover {
  background-color: #d6ae2c;
}
.yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.15);
}
.servises-item:last-child {
  margin-right: 0px;
}
.info {
  margin-bottom: 60px;
  padding-bottom: 58px;
  border-bottom: 2px solid #eeeeee;
}
.info-left {
  width: 570px;
  min-height: 346px;
  float: left;
  margin-right: 20px;
  padding-top: 0;
}
.info-left h1 {
  margin: 0;
}
.info-left p {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  padding-bottom: 35px;
}
.info-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-left li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #283136;

  position: relative;
  padding-left: 35px;
}
.info-left li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fb565a;

  top: 10px;
  left: 0;
}
.info-right {
  width: 240px;
  min-height: 346px;
  float: right;
  font-size: 15px;
}
.info-right img {
  margin-left: 30px;
  padding-bottom: 30px;
}
.year {
  margin: 0 auto;

}
.year p {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 9px;
  text-transform: uppercase;
  padding-bottom: 65px;
  position: relative;
}
.year p::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;

  top: 5px;
  left: 0px;
}
.year p::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;

  top: 5px;
  left: 175px;
}
.info-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info-right li {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 15px;
  color: #283136;
  position: relative;
  padding-left: 35px;
}
.info-right li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fb565a;

  top: 10px;
  left: 0;
}
.studios {
  margin-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0px;
}
.studios a {
  display: inline-block;
  padding-right: 120px;
  opacity: 0.2;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 35px;
}
.studios a:hover {
  opacity: 1;
}
.studios a:last-child {
  padding-right: 0;
}
.sort {
  width: 560px;
  background: rgba(234, 255, 45, 0.2);
  margin-bottom: 20px;
  font-size: 15px;
}
.filter {
  width: 240px;
  margin-right: 80px;
  float: left;
  background: rgba(234, 255, 45, 0.2);
  font-size: 15px;
}
.catalog {
  background: rgba(234, 255, 45, 0.2);
  width: 560px;
  float: right;
  margin-bottom: 80px;
}
.catalog-item {
  display: inline-block;
  width: 240px;
  background: rgba(0, 128, 0, 0.2);
  margin-bottom: 75px;
  vertical-align: top;
  font-size: 15px;
}
.catalog-item:nth-child(even) {
  margin-right: 80px;
  }
.pagination {
  min-height: 35px;
  width: 560px;
  background: rgba(234, 255, 45, 0.2);
  font-size: 15px;
}
.map {
  min-height: 330px;
  padding-top: 85px;
  background: #eeeeee url("../img/map.jpg") no-repeat center;
  position: relative;
}
.map::after {
  content: "";
  position: absolute;
  background:url("../img/marker.png") no-repeat center;

  width: 231px;
  height: 190px;

  top: 112px;
  left:62.5%;
}
.contacts {
  width: 250px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 20px;
}
.name {
  text-transform: uppercase;
}
.contacts p {
  padding-bottom: 14px;
  color: #666666;
}
.contacts .btn {
  padding-left: 52px;
  padding-right: 52px;
  text-align: center;
  margin: 0 auto;
}

.footer {
  margin-top: 80px;
  padding-bottom: 80px;
}
.footer-social {
  width: 240px;
  margin-right: 80px;
  min-height: 60px;
  float: left;
  font-size: 0px;
}
.btn-social {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #e1e1e1;
  font-size: 0px;
  margin-right: 20px;
  position: relative;
}
.btn-social:hover {
  background-color: #fb565a;
}
.btn-social:active {
  background-color: #d6494d;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.15);
}
.btn-social:last-child {
    margin-right: 0;
}
.btn-social-vk::before {
  content: "\76";
  position: absolute;
  font-family: "symbols-nerds";
  font-size: 23px;
  color: #ffffff;
  left: 17px;
  top: 19px;

  width: 20px;
  height: 20px;
}

.btn-social-fb::before {
  content: "\66";
  position: absolute;
  font-family: "symbols-nerds";
  font-size: 23px;
  color: #ffffff;
  left: 22px;
  top: 19px;

  width: 20px;
  height: 20px;
}
.btn-social-inst::before {
  content: "📷";
  position: absolute;
  font-family: "symbols-nerds";
  font-size: 23px;
  color: #ffffff;
  left: 20px;
  top: 19px;

  width: 20px;
  height: 20px;
}
.footer-sale {
  width: 560px;
  float: right;
  min-height: 60px;
  font-size: 15px;
}
.footer-sale b {
  font-size: 36px;
  line-height: 36px;

}
.footer-sale p {

}
